$primary: #6a0704;
$primary-dark: #410705;
$primary-light: #94130e;
$secundary: #abadad;
$secundary-dark: #898b8b;
$secundary-light: #bdc0c0;
$black: #1e191a;
$grey-light: #dfdfdf;
$grey-superlight: #ebebeb;
$grey-megalight: #f3f3f3;

$green: #238823;
$green-dark: #206b20;
$red: #c73434;
$red-dark: #8d2828;
$yellow: #ddcf52;
$yellow-dark: #aa9e35;
$grey: #ccc;
$grey-dark: #a0a0a0;